body {
    height: 100%;
    width: 100%;
  }
  
  .cabecalho{
    background: white;
  }
.card1{
  margin: 40px;
}
@media (min-width: 575.98px) {
  .card1{
display: flex;
flex-direction: column;
margin: 20px;
}
.cards{
  display: flex;
flex-direction: column;
}
}
.card-lateral{
  display: flex;
flex-direction: column;
}
@media (min-width: 767.98px) {
  .card1{
display: flex;
flex-direction: row;
margin: 20px;
}
.cards{
  display: flex;
flex-direction: row;
}
}
.card-lateral{
  display: flex;
flex-direction: column;
}
@media (min-width: 991.98px) {
  .card1{
display: flex;
flex-direction: row;
margin: 20px;
}
.cards{
  display: flex;
flex-direction: row;
}
.card-lateral{
  display: flex;
flex-direction: column;
}
}
@media (max-width: 575.98px) {

  .card-lateral{
    display: flex;
  flex-direction: column;
  }
  }
@media (max-width: 767.98px) {

  .card-lateral{
    display: flex;
  flex-direction: column;
  }
  }
@media (max-width: 991.98px) {

.card-lateral{
  display: flex;
flex-direction: column;
}
}
.items-head{
    display: flex;
    flex-direction: row;
    text-decoration-line: none
  }
  /*estrelas*/
  .estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa{
    font-size: 2.5em
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }
  /**/